<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type = "text/css" href="/static/book.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="wrapper">
            <div class="book-Land">
                <h3>Gauri's Land</h3>
                <img src="https://images.pexels.com/photos/102728/pexels-photo-102728.jpeg?auto=compress&cs=tinysrgb&w=600" /><br>
                <span class="land-added">03-03-2023</span><br />
                <span class="land-location"> Mumbai,Maharastra</span><br />
                <span class="land-price">NRS 120000</span>
                <p>
                     buy  this land
                </p>
                        
            </div>
            <div class="booking-details">
                <h3>Your Booking Details</h3>
                <form>
                    
                    
                    <span class="name">Full Name</span>
                    <input type="text" name="full_name" placeholder="Full Name Please" /><br />
                    
                    <span class="name">E-Mail</span>
                    <input type="email" name="email" placeholder="E-Mail Please" /><br />
                    
                    <span class="name">Conatct No.</span>
                    <input type="tel" name="contact" placeholder="Contact Number Please" /><br />
                    
                    <span class="name">Address</span> 
                    <textarea name="address" placeholder="Your Address Please"></textarea><br />
                    
                    <input type="submit" name="submit" placeholder="BOOK NOW" />
                    <input type="reset" name="reset" placeholder="RESET" />
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="wrapper">
            <p>&copy; <a href="#">Property Renting System</a>. All rights reserved 2023.</p>
        </div>
    </footer>
</body>
</html>