{% extends "layout2.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"
    />
    <link rel="stylesheet" href="static/newoffer.css"/>
  </head>
  <body>
    <section class="Popular" id="Popular">
      <h3 class="heading">LAND CATEGORY</h3>
      <div class="box-container">
        <div class="box"> 
          <!-- <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a> -->
         <img src="https://images.pexels.com/photos/7728121/pexels-photo-7728121.jpeg?auto=compress&cs=tinysrgb&w=600" alt="rose">
        
          <h2>CLAY</h2> 
                 
                <span></span>
                <a href="/clay" class="btn">SEE MORE</a> 
                </div>
    
                <div class="box"> 
                  <!-- <a href="#" class="fas fa-heart"></a>
                  <a href="#" class="fas fa-eye"></a> -->
                 <img src="https://images.pexels.com/photos/7728082/pexels-photo-7728082.jpeg?auto=compress&cs=tinysrgb&w=600" alt="parijat">
                  <h2>RED</h2> 
                        
                           <span>
                           
                            
                           
                            </span>
                        <a href="/red" class="btn">SEE MORE</a> 
                        </div>
    
                      
                                <div class="box"> 
                                  <!-- <a href="#" class="fas fa-heart"></a>
                                  <a href="#" class="fas fa-eye"></a> -->
                                 <img src="https://media.istockphoto.com/id/1226374342/photo/agriculture-organic-gardening-planting-or-ecology-concept-dirty-woman-hands-holding-moist.jpg?b=1&s=612x612&w=0&k=20&c=E5UIH_blolloicQHKQVatvrjosQhKunelvyhRd7LHjs=" alt="rose">
                                  <h2>BLACK</h2> 
                                      
                                        <span>
                                  
                                        </span>
                                        <a href="/black" class="btn">SEE MORE</a> 
                                        </div>
    
                                        <div class="box"> 
                                          <!-- <a href="#" class="fas fa-heart"></a>
                                          <a href="#" class="fas fa-eye"></a> -->
                                         <img src="https://images.pexels.com/photos/2203685/pexels-photo-2203685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="garbera">
                                          <h2>LOAMY</h2> 
                                                 
                                                <span></span>
                                                <a href="/loamy" class="btn">SEE MORE</a> 
                                                </div>
    
                                             
                                  </div>
                                  </section> 
                                  <br>
                                  <br>
                                  <br>
                                  <br>
                                 
                                  </body>
                                  </html>
                          
 {% endblock %}
